@tailwind base;
@tailwind components;
@tailwind utilities;

/* Fuentes Thabit */
@font-face {
  font-family: 'Thabit';
  src: url('/fonts/thabit/Thabit.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Thabit';
  src: url('/fonts/thabit/Thabit-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Thabit';
  src: url('/fonts/thabit/Thabit-Oblique.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Thabit';
  src: url('/fonts/thabit/Thabit-BoldOblique.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

/* Fuentes Coulson */
@font-face {
  font-family: 'Coulson';
  src: url('/fonts/Coulson/Coulson.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Coulson';
  src: url('/fonts/Coulson/Coulson Italic.otf') format('opentype');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Coulson';
  src: url('/fonts/Coulson/Coulson Condensed.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
  font-stretch: condensed;
  font-display: swap;
}

@font-face {
  font-family: 'Coulson';
  src: url('/fonts/Coulson/Coulson Condensed Italic.otf') format('opentype');
  font-weight: normal;
  font-style: italic;
  font-stretch: condensed;
  font-display: swap;
}

:root {
  --background: #f7f7f7;
  --foreground: #171717;
  --blue: #174F94;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}